.image-contain {
  height: 50%;
  object-fit: contain;
}

.cart-images {
  height: 18rem;
  object-fit: contain;
}

.modal {
  display: block;
  position: fixed;
  overflow: hidden;
}

/* iphone 6/7/8 */

@media screen (max-width: 375px) and (max-width: 700px) {

}

/* ipad */
@media (min-width:768px) {
.desktop {
    width: 30%;
  }
}

/* desktop */
@media (min-width: 1200px) {
  .desktop {
    width: 30%;
  }
}
